html {
    scroll-behavior: smooth;
  }
  body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  .nav {
    position: relative;
    padding: 10px;
  }
  .nav li a {
    color: rgb(255, 255, 255);
    font-family: calibri;
    font-size: 22px;
  }
  .nav li a:hover {
    color: rgb(182, 41, 41);
  }
  .nav:after {
    clear: both;
  }
  .topnav {
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-variant: small-caps;
  }
  
  .topnav a:hover {
    color: rgb(182, 41, 41);
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .topnav a {
      float: none;
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 19px;
    }
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .topnav.responsive {
      position: absolute;
      display: block;
      left: 33%;
      top: 0;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }
  
  /*home*/
  .banner {
    /* background: url("../images/image.jpg") no-repeat center center fixed; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../image.jpg");
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    /* z-index: 0;
      display: grid;
      align-items: center; */
    overflow: hidden;
  }
  
  /* .home_class img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    border-radius: 3px;
    padding-top: 10%;
  } */
  .fade-in-text {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  .home_class h2 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding-bottom: 6%;
    font-family: 'Montserrat', sans-serif;
    /* font-variant: small-caps; */
  }
  .home_class p{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding-top: 130px;
    font-family: 'Montserrat', sans-serif;
    transition: all;
  }
  .home_class p span{
    color: crimson;
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all;
  }
  @media screen and (orientation: portrait) {
    .home_class h2 {
      color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    padding-bottom: 10%;
    }
    .home_class p{
      color: white;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;
      padding-top: 30%;
      font-family: 'Montserrat', sans-serif;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .home_class h2 {
      color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding-bottom: 10%;
    }
    .home_class p{
      color: white;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      padding-top: 30%;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .responsive {
    position: absolute;
    max-width: 15%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
  }
  .responsive:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media screen and (orientation: portrait) {
    .responsive {
      max-width: 40%;
      padding-top: 10%;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .responsive {
      max-width: 28%;
      padding-top: 10%;
    }
  }
  
  @media screen and (orientation: landscape) {
    .responsive {
      max-height: 20%;
    }
  }

  /*Movie*/
  .Movie {
    background-color:rgb(27, 27, 27);
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    color: white;
  }
  .Movie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../book.jpg");
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    color: white;
  }
  .Movie h2 {
    color:rgb(255, 255, 255);
    font-variant: small-caps;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  .card {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
      position: auto;
      margin: 25px auto; 
      float: none; 
      margin-bottom: 50px; 
  }
  .card-img-top {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    padding-top: 10px;
  }
  .img__description {
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 20px;
    padding-top: 50%;
    /* transition effect.*/
    transition: opacity .2s, visibility .2s;
  }
  .img_wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
  /*About us*/
  .about_us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../aboutus.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 14px 16px;
    color: white;
    scroll-behavior: smooth;
  }
  .about_us a {
    color: rgb(182, 41, 41);
    text-decoration: none;
  }
  .about_us h2 {
    float:left;
    text-align: center;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    color: rgb(182, 41, 41);
  }
  .p_aboutus {
    font-family: 'Montserrat', sans-serif;
    padding: 10%;
    margin-left: 2%;
    margin-right: 30%;
  }
  @media screen and (orientation: portrait) {
    .about_us h2 {
      text-align: center;
      float: none;
      margin: 0;
      padding: 2%;
      position: relative;
    }
      .p_aboutus {
        text-align: center;
        margin-right: -5%;
        margin-left: -2%;
        padding-top: -5%;
      }
  }
  
  
  .footer_bg{
    background: #1b1b1b;
  }
  .footer{
    padding: 4%;
  }
  #contact_me {
    display: table;
    margin: 0 auto;
  }
  .contact_left h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(182, 41, 41);
    text-transform: capitalize;
  }
  .address li{
    display: block;
    margin: 10px  0;
  }
  .address li i{
    color:rgb(41, 130, 182);
    font-size: 20px;
    vertical-align: middle;
  }
  .address{
    margin-top: 20px;
  }
  .address li span{
    color: #f0f0f0;
    font-size: 14px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
  
  }
  .address li a{
    color: #f0f0f0;
    font-size: 14px;
    margin-left: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  .address li a:hover{
    text-decoration:none;
    color:rgb(182, 41, 41);
  }